$smallPadding: 14px;
$cardWidth: 300px;
$mediumMargin: 20px;
$imageUrl: url('https://material.angular.io/assets/img/examples/shiba1.jpg');

.card-display{
    display: flex;
    h4 {
        padding-left: $smallPadding;
    }
}

.example-card {
    max-width: $cardWidth;
    margin: $mediumMargin;
  }
  
.example-header-image {
    background-image: $imageUrl;
    background-size: cover;
}